<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dflong.storecontract.mapper.ContractInfoMapper">

    <resultMap id="BaseResultMap" type="com.dflong.storecontract.entity.ContractInfo">
        <id column="contract_id" property="contractId" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL"/>
        <result column="vehicle_model_id" property="vehicleModelId" jdbcType="BIGINT"/>
        <result column="energy_type" property="energyType" jdbcType="TINYINT"/>
        <result column="vin" property="vin" jdbcType="VARCHAR"/>
        <result column="rent_day" property="rentDay" jdbcType="INTEGER"/>
        <result column="contract_start_time" property="contractStartTime" jdbcType="DATE"/>
        <result column="contract_end_time" property="contractEndTime" jdbcType="DATE"/>
        <result column="billing_start_time" property="billingStartTime" jdbcType="DATE"/>
        <result column="billing_end_time" property="billingEndTime" jdbcType="DATE"/>
        <result column="delivery_vehicle" property="deliveryVehicle" jdbcType="TINYINT"/>
        <result column="pick_up_vehicle" property="pickUpVehicle" jdbcType="TINYINT"/>
        <result column="pick_store_id" property="pickStoreId" jdbcType="BIGINT"/>
        <result column="return_store_id" property="returnStoreId" jdbcType="BIGINT"/>
        <result column="package_id" property="packageId" jdbcType="BIGINT"/>
        <result column="coupon_id" property="couponId" jdbcType="BIGINT"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        contract_id, user_id, status, total_amount, vehicle_model_id, energy_type, vin, rent_day,
        contract_start_time, contract_end_time, billing_start_time, billing_end_time,
        delivery_vehicle, pick_up_vehicle, pick_store_id, return_store_id, package_id, coupon_id, is_delete,
        create_time, create_by, update_time, update_by
    </sql>

    <update id="updateStatus">
        UPDATE contract_info
        SET status = #{status}, update_time = NOW()
        WHERE contract_id = #{contractId}
    </update>

    <select id="getLastContract" resultType="com.dflong.storecontract.rest.ContractQueryService">
        select contract_id as contractId, status
               from contract_info
               where user_id = #{userId}
            order by contract_id desc limit 1
    </select>

</mapper>